<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18339419438-jfdfpd9l0m28dk81uk739gcgrenfm8h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18339419438-jfdfpd9l0m28dk81uk739gcgrenfm8h9</string>
	<key>API_KEY</key>
	<string>AIzaSyBgmCSNwVjUuc3u9RCyKMkBiZTIkwbHmCE</string>
	<key>GCM_SENDER_ID</key>
	<string>18339419438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-68-academy.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagraswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>instagraswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18339419438:ios:b0b7b580f39a7589d456bf</string>
</dict>
</plist>